<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/home/">{{ i18n "home" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/about/">{{ i18n "about" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/blogs/">{{ i18n "blogs" }}</a>


{{ if isset .Site.Params "search_engine" }}
<form class="navbar-search" action="{{ .Site.BaseURL }}/search/index.html"
    onsubmit="return validateForm(this.elements['q'].value);">
    <input type="text" class="search-query" placeholder="{{ i18n " search" }}" name="q" id="tipue_search_input">
</form>
{{ end }}